.mainContainer {
  box-sizing: border-box;
  padding: 1.5rem;
  background: #ffffff;
  border-radius: 22px;
  width: 100vw;
  height: 100vh;
}

.body_container {
  padding: 2rem 4rem;

  background: linear-gradient(
    180deg,
    #eff2ff -30.56%,
    rgba(232, 236, 255, 0) 135.85%
  );
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

.hide {
  display: none;
}
