/*-------- Add new Account-------------------*/
.newaccount_box {
  width: 488px;
  height: 406px;

  filter: drop-shadow(0px 4px 16px rgba(0, 0, 0, 0.25));
}

.newaccount_top {
  display: flex;
  justify-content: flex-end;
}

.close_round {
  width: 24px;
  height: 24px;
}
.social_input {
  box-sizing: border-box;

  width: 424px;
  height: 40px;

  border: 1px solid #d9d9d9;
  border-radius: 38px;
}

.newaccount_label {
  display: block;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  /* identical to box height */

  color: #06163a;
}

.newaccount_cancel_button {
  width: 82.76px;
  height: 37.02px;
  background: #f5f7ff;
  border-radius: 34px;
}

.newaccount_cancel_button_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13.418px;
  line-height: 20px;
  color: #744bfc;
}

.newaccount_save_button {
  width: 82.76px;
  height: 37.02px;
  background: #744bfc;
  border-radius: 34px;
}

.newaccount_save_button_text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 13.418px;
  line-height: 20px;
  color: #ffffff;
}

/*-------- HEADER------------------*/
.header_box {
  display: flex;
  justify-content: space-between;
}

.header_box_nav {
  display: flex;
  justify-content: space-between;
}
